@import '../../styles/colors.scss';

.cont-input {
    margin-top: 32px;
    margin-bottom: -30px;
    
    input {
        width: 366px;
        height: 40px;

        margin: 0;
        background-color: $color-8;
        border: 2px solid $color-6;
        border-radius: 5px;

        color: $color-2;
        font-size: 1em;
        font-weight: 700;

        display: block;

        &:not(:placeholder-shown) + label {
            visibility: visible;
            opacity: 1;
            font-size: .8em;
            transform: translate(1.5%, -245%);
        }
        
        &:placeholder-shown + label {
            visibility: hidden;
            opacity: 0;
            font-size: 1em;
            transform: translate(1.5%, -136%);
        } 

        &:focus {
            outline: none;
            border: 3px solid #7c34e9;
        }
    }

    label {
        width: 366px;
        height: 30px;
        margin: 0;

        color: $color-6;
        text-align: left;
        font-size: 1em;

        display: block;
        visibility: hidden;
        opacity: 0;

        transform: translate(1.5%, -136%);
        transition: 0.2s ease all;
    }
}