@import "../../styles/colors.scss";

.text-area {
  margin-top: 30px;
  margin-bottom: -40px;
  grid-column-start: 1;
  grid-column-end: 3;

  textarea {
    resize: none;
    width: 762px;
    height: 200px;

    margin: 0;
    padding: 3px;
    padding-left: 6px;
    background-color: $color-8;
    border: 3px solid $color-4;
    border-radius: 5px;
    box-sizing: border-box;

    color: $color-2;
    font-size: 1.2em;
    font-weight: 700;
    font-family: "Lato", sans-serif;

    display: block;

    &:not(:placeholder-shown) + label {
      visibility: visible;
      opacity: 1;
      font-size: 0.9em;
      transform: translate(1%, -1220%);
    }

    &:placeholder-shown + label {
      visibility: hidden;
      opacity: 0;
      font-size: 1em;
      transform: translate(1%, -1030%);
    }

    &:focus {
      outline: none;
      border: 4px solid $color-4;
    }

    &:hover {
      background-color: fade-in($color: #43454b, $amount: 0.4);
    }
  }

  label {
    width: 762px;
    height: 20px;
    margin: 0;

    color: $color-4;
    text-align: left;
    font-size: 1.2em;

    display: block;
    visibility: hidden;
    opacity: 0;

    transform: translate(1%, -1030%);
    transition: 0.2s ease all;
  }

  @media screen and (max-width: 768px) {
    label{
      font-size: 0.8em !important;
      height: 2.35vh;
    }
  }
}
