@import "../../styles/typo.scss";
@import "../../styles/colors.scss";

html,
body {
  background: $color-8;
}

.cont-footer {
  .content {
    width: 850px;
    margin-bottom: 300px; /* Same height as footer */
  }

  .fixed_footer {
    width: 100%;
    height: 250px;
    background: $color-3;
    left: 0;
    bottom: 0;
    z-index: -100;
  }

  .content {
    width: 100%;
  }

  .data {
    margin-top: 50px;
    margin-left: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;

    div {
      width: 400px;
      height: 180px;
      margin-left: 130px;
      margin-right: 130px;
    }

    h6 {
      margin-bottom: 0;
      color: white;
      font-size: 1em;
      font-weight: 900;
    }

    p {
      width: 400px;
      color: $color-7;
      font-size: .7em;
      text-align: justify;
    }

    ul {
      margin-left: -40px;
      color: $color-7;
      font-size: .7em;
      list-style: none;

      a {
        color: $color-7;
        text-decoration: none;
      }
    }

    .less-left {
      margin-left: 0px;
    }

    .img {
      margin-right: -300px;
      margin-left: 60px;
      img {
        width: 150px;
        height: 200px;
      }
    }
    
  }

  .links {
    margin-top: 50px;
    margin-left: 60px;
    margin-right: 60px;
    font-size: .6em;

    .copy {
      color: $color-7;
      display: inline;
    }

    .privacy {
      margin-left: 1260px;
      margin-right: 60px;
      color: $color-7;
      display: inline;
    }
  }
}