@import "../../styles/typo.scss";
@import "../../styles/colors.scss";

html,
body {
  background: $color-8;
}

.cont-footer {
  .content {
    width: 850px;
    margin-bottom: 300px; /* Same height as footer */
  }

  .fixed_footer {
    width: 100%;
    height: 300px;
    background: $color-3;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -100;
  }

  .content {
    width: 100%;
  }

  .data {
    margin-top: 50px;
    width: 100%;
    margin-left: 80px;
    display: flex;
    flex-direction: row;

    div {
      width: 2000px;
      height: 180px;
      margin-left: 100px;
      margin-right: 100px;
    }

    h6 {
      font-weight: 900;
      color: white;
      font-size: 1em;
      margin-bottom: 0;
    }

    p {
      width: 500px;
      font-size: .7em;
      text-align: justify;
      color: $color-7;
    }

    ul {
      color: $color-7;
      font-size: .7em;
      list-style: none;
      margin-left: -40px;

      a {
        color: $color-7;
        text-decoration: none;
      }
    }
  }

  hr {
    border: 1px solid white;
    margin-top: 40px;
    margin-bottom: 0;
  }

  .links {
    font-size: .6em;
    margin-top: 10px;

    p {
      color: $color-7;
      display: inline;
    }
  }
}