@import "./styles/colors.scss";
@import "./styles/font-size.scss";
@import "./styles/typo.scss";

body {
  font-family: $font-family;
  font-size: $font-size1;
  font-weight: 700;
  background: $color-8;
  overflow-x: hidden;
}

h1 {
  color: $color-6;
}

h2 {
  font-size: $font-size2;
  font-weight: 900;
}

::-webkit-scrollbar {
  width: auto;
}

::-webkit-scrollbar-track {
  border: 1px solid $color-1;
}

::-webkit-scrollbar-thumb {
  background-color: $color-4;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $color-5;
}
